<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="hero d-flex flex-column w-100 h-100 align-items-center justify-content-center">
        <div class="p-2">
            <div class="jumbotron">
                <p class="size-1 text-center" style="color: #FFFFFF;
                font-size: 2.5rem;
                text-shadow: -1px -2px 4px #000;
                        "><small>{{page.carousel-small}}<strong>{{page.carousel-small-strong}}</strong></small><br>
                {{page.carousel-caption}}
                </p>
                           </div>
        </div>
    </div>
    {% assign gallery_files = page.gallery %} {% assign count = 0 %}
    <ol class="carousel-indicators">
        {% for image in gallery_files %} {% assign count = count | plus: 1 %}
        <li data-target="#carouselContent" data-slide-to="{{count}}" class="{% if count == 1 %} active {% endif %}"></li>{%endfor%}
    </ol>
    <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        {% assign count = 0 %} {% for image in gallery_files %} {% assign count = count | plus: 1 %}
        <div class="carousel-item {% if count == 1 %} active {% endif %}" style="background-image: url('{{image}}'); background-size: cover; background-position: center">
        </div>{%endfor%}
    </div>
</div>