<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    {% assign gallery_files = page.gallery %} {% assign count = 0 %}
    <ol class="carousel-indicators">
        {% for image in gallery_files %} {% assign count = count | plus: 1 %}
        <li data-target="#carouselContent" data-slide-to="{{count}}" class="{% if count == 1 %} active {% endif %}"></li>{%endfor%}
    </ol>
    <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        {% assign count = 0 %} {% for image in gallery_files %} {% assign count = count | plus: 1 %}
        <div class="carousel-item {% if count == 1 %} active {% endif %}" style="background-image: url('{{image}}'); background-size: cover; background-position: left">
            <div class="d-flex h-100 align-items-center justify-content-center">
                <div class="p-2" style="border: solid 1px #FFFFFF">
                    <div class="jumbotron">
                        <p class="lead text-center">Abiti da Sposa, Sposo e Cerimonia <br> Viterbo / Acquapendente <br> <em>‘Abbiamo scelto il meglio perché siamo convinti che ognuno di voi meriti il
                            meglio’</em></p>
                    </div>
                </div>
            </div>
        </div>{%endfor%}
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>