<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="hero d-flex flex-column w-100 h-100 align-items-center justify-content-center">
        <div class="p-2">
            <div class="jumbotron">
                <p class="lead text-center"><em>‘Abbiamo scelto il meglio perché siamo convinti che ognuno di voi meriti il meglio’</em><br>
                    <small>Abiti da Sposa, Sposo e Cerimonia <br> <mute>Viterbo</mute><br></small></p>
            </div>
        </div>
    </div>
    {% assign gallery_files = page.gallery %} {% assign count = 0 %}
    <ol class="carousel-indicators">
        {% for image in gallery_files %} {% assign count = count | plus: 1 %}
        <li data-target="#carouselContent" data-slide-to="{{count}}" class="{% if count == 1 %} active {% endif %}"></li>{%endfor%}
    </ol>
    <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        {% assign count = 0 %} {% for image in gallery_files %} {% assign count = count | plus: 1 %}
        <div class="carousel-item {% if count == 1 %} active {% endif %}" style="background-image: url('{{image}}'); background-size: cover; background-position: left">
        </div>{%endfor%}
    </div>
</div>