<div id="carouselContent" class="carousel slide" data-ride="carousel">
    {% assign gallery_files = page.gallery %} {% assign count = 0 %}
    <ol class="carousel-indicators">
        {% for image in gallery_files %} {% assign count = count | plus: 1 %}
        <li data-target="#carouselContent" data-slide-to="{{count}}" class="{% if count == 1 %} active {% endif %}"></li>{%endfor%}
    </ol>
    <div class="carousel-inner" role="listbox">
        {% assign count = 0 %} {% for image in gallery_files %} {% assign count = count | plus: 1 %}
        <div class="carousel-item {% if count == 1 %} active {% endif %}" style="background-image: url('{{image}}')">
        </div>
        {%endfor%}
    </div>
</div>