 {% assign collection = site[page.collection] | group_by : "brand" %} {% for item in collection %} {% assign marca = site.data.marche[item.name] %} <img src="{{marca.logo}}">
<h4>{{marca.title}}</h4><br> {%assign elements = item.items %}
<section class="d-flex flex-row align-items-between">
    {% for item in elements %}
    <div class="card">
        <h3><a href="{{item.url}}">{{item.title}}</a></h3>
        <br>
        <img src="{{item.image}}" alt="" srcset=""></div>
    {% endfor %}
</section>



{% endfor %}