<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm"><a href="/sposa/boho">
            <a href="/sposa/boho"><img src="/assets/img/abiti-sposa/boho.png" class="img-fluid rounded"
                alt="Boho Bride"></a>
            </a>
        </div>
        <div class="col-sm"><a href="/sposa/contemporary">
            <a href="/sposa/contemporary"><img src="/assets/img/abiti-sposa/contemporary.png" class="img-fluid rounded"
                alt="Contemporary Bride"></a>
            </a>

        </div>
        <div class="col-sm">

            <a href="/sposa/romantic"><img src="/assets/img/abiti-sposa/romantic.png" class="img-fluid rounded"
                    alt="Romantic Bride"></a>

        </div>
    </div>
</div>