{% assign collection = site[page.collection] %} {% assign marca = site.data.marche[item.name] %} {% assign elements = item.items %}
<section class="container-fluid">
    {% assign group = site[page.collection] | group_by : "brand" %}
    <div class="row">
        {% if page.hideFilter == false %}
        <div class="col-4 col-lg-12">
            <div class="button-group filter-button-group">
                <div class="d-flex flex-row align-items-center justify-content-center align-content-stretch flex-wrap">
                    <button class="btn btn-link btn-brand col-xs-3" data-filter="*"><span class="isotope-all">Tutti</span></button> {% for item in group %} {% if item.name != empty %}
                    <button class="btn btn-link btn-brand col-xs-3" data-filter=".{{item.name}}"><img src="{{site.data.marche[item.name].logo}}" width="100" class="img-fluid" alt="{{item.name}}"></button> {%endif%} {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}

        <div class="col-8 col-lg-12">
            <div class="grid justify-content-center">
                <div class="grid-sizer"></div>
                {% for item in collection %} {% if item.brand %}
                <div class="grid-item {{item.brand}} card shadow">
                    <a href="{{item.url}}"><img src="/uploads/{{page.collection}}/thumbs/{{item.brand}}/{{item.image}}" class="card-img-top" alt="{{item.title}}"></a>
                </div>
                {% endif %} {% endfor %}
            </div>
        </div>
    </div>




</section>