<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Richiedi Informazioni<br /> <small>
                <p>Chiama lo <a href="tel:+390761352901">0761 352901</a> o compila il form per essere ricontattato</small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form data-parsley-validate method="POST" netlify-honeypot="bot-field" id="parsley-form" netlify action="/grazie.html">

                    <div class="form-group">
                        <label for="EmailAddress">Email
                            
                        </label>
                        <input name="email" type="email" class="form-control" id="EmailAddress" aria-describedby="emailHelp" placeholder="Inserisci l'email" required></div>
                    <div class="form-group">
                        <label for="NameLabel">Nome</label>
                        <input name="Nome" required type="text" class="form-control" id="NameLabel" placeholder="Nome">
                    </div>
                    <div class="form-group">
                        <label for="TextLabel">Messaggio</label>
                        <textarea name="Messaggio" required rows="4" class="form-control" id="messaggio" placeholder="Messaggio"></textarea>
                    </div>
                    <div class="form-check">
                        <input required type="checkbox" class="form-check-input" id="privacyCheck">
                        <label class="form-check-label" for="privacyCheck">Accetto la privacy policy</label>
                    </div>
                    <p class="invisible">
                        <label>Non scrivere in questo campo: <input name="bot-field" /></label>
                    </p>
                    <button type="submit" class="btn btn-lg btn-warning float-right">Invia</button>
                </form>
            </div>
        </div>
    </div>
</div>