<footer class="footer py-5 mt-3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md text-center">
                <h4 class="d-block mb-3">{{site.title}} &copy; {{ 'now' | date: "%Y" }}</h4>
                <p>
                    Email: <a href="mailto:info@gaggiolisposi.it" data-toggle="modal" data-target="#exampleModalLong" onclick="gaEvent('ClickMail', 'Click/Touch','Footer');">info@gaggiolisposi.it</a> / P.Iva 01768390567 / <a href="/privacy-policy.html">Privacy</a>
                </p>
                <p>

                    {%- include matrimonio-cons.html -%}
                </p>
            </div>

        </div>
    </div>
</footer>
{%- include mailchimp-popup.html -%}