<footer class="footer py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md text-center">
                <h4 class="d-block mb-3">{{site.title}} &copy; {{ 'now' | date: "%Y" }}</h4>
                <p>
                    Email: <a href="mailto:info@gaggiolisposi.it" onclick="gaEvent('ClickMail', 'Click/Touch','Footer');">info@gaggiolisposi.it</a> / P.Iva 01768390567 / <a href="/privacy-policy.html">Privacy</a>
                </p>
            </div>
        </div>
</footer>