<div class="d-flex flex-column justify-content-between p-1">
    <h5 class="text-secondary">Sfoglia le immagini</h5>
    <div class="image-set">
        {%- for img in page.immagini -%}

        <a class="image-link" href="https://res.cloudinary.com/dtd4duitw/image/upload/c_scale,q_auto:good,w_600/{{img}}" data-lightbox="set"><img class="post-image rounded" src="https://res.cloudinary.com/dtd4duitw/image/upload/c_scale,q_auto:good,w_600/{{img}}" alt="" /></a>

        {%- endfor -%}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox-plus-jquery.min.js"></script>
</div>