<section class="container-fluid" id="logo">
    <div class="d-flex flex-row align-items-center justify-content-center">
        <a href="/" title="Gaggioli Sposi Viterbo | Abiti Sposa Sposo Vestiti Cerimonia Matrimonio Cleofe Finati Archetipo Valentini Spose Eg&ograve;"><img src="/assets/img/logo-gaggioli-sposi-centrato.jpg" style="z-index:2" width="302" alt="Gaggioli Sposi Viterbo | Abiti Sposa Sposo Vestiti Cerimonia Matrimonio Cleofe Finati Archetipo Valentini Spose Eg&ograve;"></a>
    </div>
</section>