<meta name="google-site-verification" content="ooEnFbyRFkfDOj7UvLgJMlyw5acfPCjQnPHdmo57zLg" />
<meta property="og:image" content="https://www.gaggiolisposi.it/uploads/{{page.collection}}/big/{{page.brand}}/{{page.image}}" />
<meta name="description" itemprop="description" content="Scopri la Nuova Collezione {{obj.title}} - Da oltre trent’anni anni vi assistiamo nella scelta più importante" />

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "ClothingStore",
        "name": "Gaggioli Sposi",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "Strada Cassia Nord 22/s",
            "addressLocality": "Viterbo",
            "addressRegion": "VT",
            "postalCode": "01100"
        },
        "image": "https://res.cloudinary.com/dtd4duitw/image/upload/c_scale,q_auto:good,w_1200,fl_progressive//v1543919832/viterbo/0-182743.jpg",
        "email": "info@gaggiolisposi.it",
        "telePhone": "3791507510",
        "url": "https://www.gaggiolisposi.it/",
        "paymentAccepted": [ "cash", "check", "credit card", "invoice" ],
        "openingHours": "Mo,Tu,We,Th,Fr,Sa 09:00-19:00",
        "openingHoursSpecification": [ {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": [
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday",
                "Saturday"
            ],
            "opens": "09:00",
            "closes": "19:00"
        } ],
        "priceRange":"$$$"
    
    }
    </script>
    