{% assign lang = page.collection %} 
{% assign col = site.collections | where: "label", lang | first %} 
{% assign items = col.docs %} 
{% assign catGroup = items | filter:'marche' %} 
{% for cat in catGroup %}
<section>
    <h3>{{cat.name}}</h3>
    {% assign articles = cat.items %}
    <div id="nanogallery2" data-nanogallery2='{ "thumbnailHeight": 250, "thumbnailWidth": 250}'>
        {% for article in articles %}
        {% if article.image != empty %}
        <a href="{{article.image}}" data-ngThumb="{{article.image}}"> {{article.title}} </a> 
        {% endif %}
        {% endfor %}
    </div>
</section>
{% endfor %}