{% assign lang = page.collection %} {% assign col = site.collections | where: "label", lang | first %} {% assign items = col.docs %} {%assign catGroup = items | group_by:'category' %} {% for cat in catGroup %}
<section>
    <h3>{{cat.name}}</h3>
    {% assign articles = cat.items %}
    <div id="nanogallery2" data-nanogallery2='{ "thumbnailHeight": 150, "thumbnailWidth": 150, "itemsBaseURL": "http://nanogallery2.nanostudio.org/samples/" }'>
        {% for article in articles %}
        <a href="{{article.image}}" data-ngThumb="{{article.image}}"> {{article.title}} </a> {% endfor %}
    </div>
</section>
{% endfor %}