<nav class="navbar navbar-expand-md navbar-dark" {% if page.layout=='home' %} style="background-color: #000000;" {% endif %}>
    <a href="/" title="Gaggioli Sposi Viterbo | Abiti Sposa Sposo Vestiti Cerimonia Matrimonio Cleofe Finati Archetipo Valentini Spose Eg&ograve;"><img class="img-fluid" src="/assets/img/logo-gaggioli-sposi-centrato.jpg" style="z-index:2" width="302" alt="Gaggioli Sposi Viterbo | Abiti Sposa Sposo Vestiti Cerimonia Matrimonio Cleofe Finati Archetipo Valentini Spose Eg&ograve;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav  mr-auto my-lg-0">
            <li class="nav-item">
                <a class="nav-link" href='chi-siamo-abiti-da-sposa-viterbo-sposo-vestiti-cerimonia.asp.html'><strong>Chi siamo</strong></a></li>
            <li class="nav-item ">
                <a class="nav-link" href='abiti-sposo-viterbo.html'><strong>Sposo</strong></a></li>
            <li class="nav-item ">
                <a class="nav-link" href='abiti-sposa-viterbo.html'><strong>Sposa</strong></a></li>
            <li class="nav-item ">
                <a class="nav-link" href='outlet-abiti-da-sposa-sposo-cerinomia.asp.html'><strong>Outlet</strong></a></li>
            <li class="nav-item">
                <a class="nav-link" href='accessori.asp.html'><strong>Accessori</strong></a></li>
            <li class="nav-item">
                <a class="nav-link" href='blog-abiti-da-sposa-viterbo-sposo-vestiti-cerimonia.asp.html'><strong>Blog</strong></a></li>
            <li class="nav-item ">
                <a class="nav-link" href='punti-vendita-viterbo-acquapendente.asp.html'><strong>Punti vendita/Contatti</strong></a></li>
            <li class="nav-item ">
                <a class="nav-link" href='abiti-da-cerimonia.asp.html'><strong>Cerimonia</strong></a></li>
            <li>
                <a href='gaggioli-casa.asp.html'><strong> Casa</strong></a>
            </li>
            {% if page.url == "/" %} {% assign lang = "it" %} {% else %} {% assign lang = page.collection %} {% endif %} {% assign col = site.collections | where: "label", lang | first %} {% assign items = col.docs %} {% assign catGroup = items | group_by:'category'
            %} {% for cat in catGroup %} {% if cat.name != "" %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="{{cat.name | slugify }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{cat.name | slugify }}</a>
                </a> {% if col != "" %}
                <div class="dropdown-menu" aria-labelledby="{{cat.name | slugify }}">
                    <ul>
                        {% assign articles = cat.items %} {% for article in articles %}
                        <a class="dropdown-item" href="{{article.url}}">{{article.title}}</a> {% endfor %}
                    </ul>
                </div>
                {% endif %} {% endif %}
            </li>{%endfor%}



        </ul>
        <button type="button" class=" my-2 my-lg-0 btn btn-lg btn-light" data-toggle="modal" data-target="#exampleModalLong">
            Contattaci <span class="oi oi-file"></span>
        </button>
    </div>
</nav>