<nav class="navbar navbar-expand-xl navbar-dark fixed-top" style="background-color: #000000;" {% if page.layout=='home' %} style="background-color: #000000;" {% endif %}>
    <a href="/" class="navbar-brand" title="Gaggioli Sposi Viterbo | Abiti Sposa Sposo Vestiti Cerimonia Matrimonio Cleofe Finati Archetipo Valentini Spose Eg&ograve;"><img class="img-fluid" src="/assets/img/logo-gaggioli-sposi-centrato.jpg" alt="Gaggioli Sposi Viterbo | Abiti Sposa Sposo Vestiti Cerimonia Matrimonio Cleofe Finati Archetipo Valentini Spose Eg&ograve;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBar" aria-controls="mainNavBar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="mainNavBar">
        <ul class="navbar-nav  ml-auto my-lg-0">
            <li class="nav-item">
                <a class="nav-link" href='/chi-siamo.html'>Chi siamo</a></li>
            <li class="nav-item ">
                <a class="nav-link" href='/sposo/'>Sposo</a></li>
            <li class="nav-item ">
                <a class="nav-link" href='/sposa/'>Sposa</a></li>
            <li class="nav-item ">
                <a class="nav-link" href='/cerimonia'>Cerimonia</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href='#' id="outlet" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Outlet</a>
                <div class="dropdown-menu" aria-labelledby="outlet">
                    <a class="dropdown-item" href="/outlet-sposa/">Sposa</a>
                    <a class="dropdown-item" href="/outlet-sposo/">Sposo</a>
                    <a class="dropdown-item" href="/outlet-cerimonia/">Cerimonia</a>
                </div>
            </li>
            <!--             <li class="nav-item">
                <a class="nav-link" href='/accessori/'>Accessori</a></li> -->
            <li class="nav-item">
                <a class="nav-link" href='/blog'>Blog</a></li>
            <li class="nav-item ">
                <a class="nav-link" href='/punti-vendita-viterbo-acquapendente.html'>Contatti</a></li>

            <li class="nav-item">
                <a class="nav-link" href='/casa.html'> Casa</a>
            </li>
        </ul>
    </div>
</nav>