<nav class="nav flex-row justify-content-around flex-md-column">
    <a class="nav-link" href="/{{page.collection}}">Torna al Catalogo</a>
    <a class="nav-link item_add" href="javascript:;" data-toggle="modal" data-target="#addedModal">Aggiungi all'Armadio</a>
    <a class="nav-link simpleCart_empty" href="javascript:;" data-toggle="modal" data-target="#emptyModal">Svuota Armadio</a>
    <a class="nav-link text-warning" href="#" data-toggle="modal" data-target="#prenotaModal"><strong>Prenota la Prova</strong></a>
</nav>

