<nav class="nav flex-column justify-content-around text-center">
    <a class="nav-link item_add" href="javascript:;" data-toggle="modal" data-target="#addedModal"><i class="fas fa-plus-circle"></i> Aggiungi all'Armadio</a>
    <a class="nav-link simpleCart_empty" href="javascript:;" data-toggle="modal" data-target="#emptyModal"><i class="fas fa-trash-alt"></i> Svuota Armadio</a>
    <a class="nav-link text-warning" href="#" data-toggle="modal" data-target="#prenotaModal"><strong><i class="fas fa-person-booth"></i> Prenota la Prova</strong></a>
</nav>

