<nav class="nav flex-row flex-md-column">
    <a class="nav-link" href="/{{page.collection}}">Torna al Catalogo</a>
    <a class="nav-link item_add" href="javascript:;" data-toggle="modal" data-target="#addedModal">Aggiungi all'Armadio</a>
    <a class="nav-link simpleCart_empty" href="javascript:;" data-toggle="modal" data-target="#emptyModal">Svuota Armadio</a>
    <a class="nav-link" href="#" data-toggle="modal" data-target="#prenotaModal"><strong>Prenota la Prova</strong></a>
</nav>

<!-- Modal -->
<div class="modal fade" id="prenotaModal" tabindex="-1" role="dialog" aria-labelledby="prenotaProva" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="prenotaProva">Prenota la tua Prova</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form id="prenota-prova" netlify action="/grazie.html">
                    <div class="form-group">
                        <label for="EmailAddress">Indirizzo Email</label>
                        <input type="email" name="email" class="form-control" id="EmailAddress" aria-describedby="emailHelp" placeholder="Enter email"> </div>
                    <div class="form-group">
                        <label for="NameLabel">Nome</label>
                        <input required name="Nome" type="text" class="form-control" id="NameLabel" placeholder="Nome">
                    </div>
                    <div class="form-group">
                        <label for="SurnameLabel">Cognome</label>
                        <input required name="Cognome" type="text" class="form-control" id="SurnameLabel" placeholder="Cognome">
                    </div>
                    <div class="form-group">
                        <label for="PhoneLabel">Telefono</label>
                        <input required name="Telefono" type="number" data-parsley-type="integer" class="form-control" id="PhoneLabel" placeholder="Telefono">
                    </div>
                    <div class="form-group">
                        <label for="Armadio">Armadio</label>
                        <textarea class="form-control" name="Armadio" id="Armadio" cols="30" rows="10" class="simpleCart_items">
                        </textarea>

                    </div>
                    <div class="form-group">
                        <label for="Data">Data preferita</label>
                        <input name="datapreferita" required type="date" class="form-control" id="data" placeholder="Scegli una data">
                    </div>
                    <div class="form-check">
                        <input required type="checkbox" class="form-check-input" id="privacyCheck">
                        <label class="form-check-label" for="privacyCheck">Accetto la privacy policy</label>
                    </div>
                    <button type="submit" class="btn btn-lg btn-dark float-right">Invia</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addedModal" tabindex="-1" role="dialog" aria-labelledby="addedModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Il tuo Armadio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
            </div>
            <div class="modal-body">
                <table class="table simpleCart_items"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#prenotaModal">Prenota la prova</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="emptyModal" tabindex="-1" role="dialog" aria-labelledby="emptyModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Il tuo Armadio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
            </div>
            <div class="modal-body">
                L'armadio è vuoto.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>

    </div>
</div>