<div class="card d-flex flex-row justify-content-between">
    <a href="https://www.facebook.com/gaggiolisposiviterbo" target="_blank"><img src="/assets/img/icon-facebook.jpg" width="32" height="32"></a>
    <a href="https://www.instagram.com/gaggiolisposi/" target="_blank"><img src="/assets/img/icon-instagram.png" width="32" height="32"></a>
    <a href="https://plus.google.com/+GaggiolisposiIt" target="_blank"><img src="/assets/img/icon-google_plus.jpg" width="32" height="32"></a>
    <a href="https://twitter.com/gaggiolisposi" target="_blank"><img src="/assets/img/icon-twitter.jpg" width="32" height="32"></a>
    <a href="https://www.pinterest.com/gaggiolisposi/" target="_blank"><img src="/assets/img/icon-pinterest.jpg" width="32" height="32"></a>
    <a href="https://www.linkedin.com/company/gaggioli-sposi" target="_blank"><img src="/assets/img/icon-linkedin.jpg" width="32" height="32"></a>
    <a href="https://www.youtube.com/user/GaggioliSposi" target="_blank"><img src="/assets/img/icon-youtube.jpg" width="32" height="32"></a>
    <a href="https://feeds.feedburner.com/gaggiolisposi" target="_blank"><img src="/assets/img/icon-feedrss.jpg" width="32" height="32"></a>
</div>