{%assign brand = page.brand %}
<section class="d-flex flex-row flex-wrap align-items-stretch">
    {% assign related = site[page.collection] | where : "brand",brand %}
    {% for item in related %} 
    {% if item.image%}

    <div class="col-sm-12 col-lg-6">
        <div class="card shadow-lg">
            <a href="{{item.url}}">
                <img class="card-img-top card-img-crop img-fluid" src="/uploads/2018/{{item.brand}}/thumbs/{{item.image}}" alt="{{item.title}}"></a>
        </div>
    </div>
    {% endif %} {% endfor %}
</section>



