@media screen and (max-width: 991px) {
    .grid-item,
    .grid-sizer {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .cc-banner .cc-message {
        height: 20px;
    }
    .grid-item,
    .grid-sizer {
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
    .grid-item,
    .grid-sizer {
        width: 100%;
    }
    .navbar-brand {
        img {
            width: 230px;
        }
    }
    body {
        padding-top: 3.6em;
    }
    .isotope-all {
        padding: 4vw 3vw;
        font-size: 3vw;
    }
}