.carousel-item {
    height: 90vh;
    min-height: 300px;
    background: no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content-include {
    .carousel-item {
        height: 50vh;
        min-height: 300px;
        background: no-repeat top center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}