<!DOCTYPE html>
<html lang="it">

<head>
    {% include head.html %}
    <title>{{page.title}} | Gaggioli Sposi | Abiti da Sposa, Abiti da Sposo, Proposte per la Cerimonia - Viterbo</title>

</head>

<body>

    {% include gtmbody.html %} {% include header.html %}
    <header class="container-fluid mt-5">
        <h1>{{page.title}}</h1>
    </header>
    <main class="container-fluid">
        {% include category--abiti-loop.html %}
    </main>
    {% include footer.html %} {% include footer-scripts.html %} {% include contact-form.html %}
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js" ></script>
    <script  src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js" ></script>
    <script  src="//npmcdn.com/isotope-packery@2/packery-mode.pkgd.js" ></script>
    <script >
        // init Isotope
        var $grid = $('.grid').isotope({
            layoutMode: 'packery',
            itemSelector: '.grid-item',
            percentPosition: true,
            packery: {
                columnWidth: '.grid-sizer'
            },
            sortBy: 'original-order'
        });
        // filter items on button click
        $('.filter-button-group').on('click', 'button', function() {
            var filterValue = $(this).attr('data-filter');
            $grid.isotope({
                filter: filterValue
            });
        });
        $grid.imagesLoaded().progress(function() {
            $grid.isotope('layout');
        });
    </script>
</body>

</html>