<!doctype html>{% assign lang = page.collection %}
<html lang="{{lang}}">

<head>
    {% include head.html %}
</head>



<!-- Favicon -->
<link rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="manifest.json">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">
<!-- /Favicon -->
</head>

<body>
    <!-- MENU -->
    {% include header.html %} {% include category--home-loop.html %}
    <!-- SOCIAL -->
    <section class="container d-flex flex-row justify-content-center p-5">
        <div class="card d-flex flex-row justify-content-between">
            <a href="https://www.facebook.com/gaggiolisposiviterbo" target="_blank"><img src="/assets/img/icon-facebook.jpg" width="32" height="32"></a>
            <a href="https://www.instagram.com/gaggiolisposi/" target="_blank"><img src="/assets/img/icon-instagram.png" width="32" height="32"></a>
            <a href="https://plus.google.com/+GaggiolisposiIt" target="_blank"><img src="/assets/img/icon-google_plus.jpg" width="32" height="32"></a>
            <a href="https://twitter.com/gaggiolisposi" target="_blank"><img src="/assets/img/icon-twitter.jpg" width="32" height="32"></a>
            <a href="http://www.pinterest.com/gaggiolisposi/" target="_blank"><img src="/assets/img/icon-pinterest.jpg" width="32" height="32"></a>
            <a href="http://www.linkedin.com/company/gaggioli-sposi" target="_blank"><img src="/assets/img/icon-linkedin.jpg" width="32" height="32"></a>
            <a href="http://www.youtube.com/user/GaggioliSposi" target="_blank"><img src="/assets/img/icon-youtube.jpg" width="32" height="32"></a>
            <a href="http://feeds.feedburner.com/gaggiolisposi" target="_blank"><img src="/assets/img/icon-feedrss.jpg" width="32" height="32"></a>
        </div>
    </section>
    <!-- / SOCIAL -->


    {% include footer.html %} {% include footer-scripts.html %}

</body>

</html>