<!doctype html>
<html lang="it">

<head>
    {% include head.html %}
    <title>{{page.title}} | Gaggioli Sposi | Abiti da Sposa, Abiti da Sposo, Proposte per la Cerimonia - Viterbo</title>
</head>

<body>
    {% include gtmbody.html %} {% include header.html %}
    <header class="container p-5">
        <h3>{{page.title}}</h3>
    </header>
    <main role="main" class="container p-5">
        <div class="row">
            <div class="col align-self-center">
                {{content}}
            </div>
        </div>
    </main>
    {% include footer.html %}  {% include contact-form.html %}
</body>

</html>