<!doctype html>
<html lang="it">

<head>
    {% include head.html %}
</head>

<body>
    {% include gtmbody.html %}
    <!-- MENU -->
    {% include header.html %}
    <header class="home-layout d-xs-none d-sm-block">
        {% include carousel--home.html %}
    </header>

    <!-- ACCESSO CATALOGHI -->
    <section class="container">

        <div class="row mt-3 mb-3">
            <div class="col">
                {%- include fb-page.html -%}
            </div>
            <div class="col">
                <div class="card p-2">
                    <a href="/outlet-sposo"><img class="card-img-top" src="/assets/img/outlet.jpg" class="img-fluid"></a>
                    <div class="card-body">
                        <h5 class="card-subtitle mb-2 text-muted">Outlet di qualità</h5>
                        <p class="card-text">Visita il punto vendita di Acquapendente</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- SOCIAL -->
    <section class="container d-flex flex-row justify-content-center p-5">
        {%- include social-bar.html -%}
    </section>
    {% include footer.html %} {% include footer-scripts.html %} {% include contact-form.html %}

</body>

</html>