<!doctype html>
<html lang="it">

<head>
    {% include head.html %}
</head>

<body>
    {% include gtmbody.html %}
    <!-- MENU -->
    {% include header.html %}
    <header class="home-layout d-xs-none d-sm-block">
        {% include carousel--home.html %}
    </header>

    <!-- ACCESSO CATALOGHI -->
    <section>
        <div class="d-flex  flex-column flex-md-row  justify-content-center align-items-stretch my-3">
            <a href="/sposa"><img class="img-fluid" src="/assets/img/img-collezione-sposa2016.jpg"></a>
            <a href="/sposo"><img class="img-fluid" src="/assets/img/img-collezione-sposo2016.jpg"></a>
        </div>
    </section>
    <!-- BLOCCHI -->
    <section class="container-fluid p-5" id="home-cards">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card p-2">
                        <a href="/outlet-sposo"><img class="card-img-top" src="/assets/img/outlet.jpg" class="img-fluid"></a>
                        <div class="card-body">
                            <h5 class="card-subtitle mb-2 text-muted">Outlet di qualità</h5>
                            <p class="card-text">Visita il punto vendita di Acquapendente</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card p-2">
                        <a href="/outlet-sposa"><img class="card-img-top" src="/assets/img/blocco01.jpg" class="img-fluid"></a>
                        <div class="card-body">
                            <h5 class="card-subtitle mb-2 text-muted">Abiti da Cerimonia</h5>
                            <p class="card-text">Visita il punto vendita di Acquapendente</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /BLOCCHI -->

    <!-- SOCIAL -->
    <section class="container d-flex flex-row justify-content-center p-5">
        {%- include social-bar.html -%}
    </section>
    {% include footer.html %} {% include footer-scripts.html %} {% include contact-form.html %}

</body>

</html>