<!doctype html>
<html lang="it">

<head>
    {% include head.html %} {% include footer-scripts.html %}
    <title>{{page.title}} | Gaggioli Sposi - Abiti da Sposa, Abiti da Sposo, Proposte per la Cerimonia - Viterbo</title>
</head>

<body>
    {% include gtmbody.html %} {% include header.html %}
    <main class="content-include">
        <section>
            {{content}}
        </section>
        <aside>
          {% if page.form %}
            {% include {{ page.form }} %}
          {% endif %}
        </aside>

    </main>

    {% include footer.html %}
</body>

</html>