<!doctype html>
{% assign brand = page.title | slugify %}
<html lang="it">

<head>
    {% include head.html %}
    <title>Gaggioli Sposi - {{site.data.marche[brand].name}} - Abiti da Sposa, Abiti da Sposo, Proposte per la Cerimonia - Viterbo</title>
</head>

<body>
    {% include gtmbody.html %} {% include header.html %}
    
    <header class="container-fluid p-4">
            <div class="row">
                    <div class="col"><h1><img src="{{site.data.marche[brand].logo}}" alt="{{site.data.marche[brand].name}}"></h1></div>
                    <div class="col"><p>{{content}}</p></div>
                </div>
    </header>
    <main class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                    <div class="grid">
                        <div class="grid-sizer"></div>
                        {% assign collection = site[page.type] | where : "brand",brand %}
                        {%- for item in collection -%}
                        <div class="grid-item">
                            <a href="{{item.url}}"><img src="https://res.cloudinary.com/dtd4duitw/image/upload/c_scale,q_auto:good,w_400{{item.image}}" class="card-img-top" alt="{{item.title}}"></a>
                            </a>
                        </div>
                           {%- endfor -%}
                    </div>
                </div>
            </div>
        </div>

    </main>
  
    {% include footer.html %} {% include footer-scripts.html %}
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="//npmcdn.com/isotope-packery@2/packery-mode.pkgd.js"></script>
<script>
    // init Isotope
    var $grid = $('.grid').isotope({
        layoutMode: 'packery',
        itemSelector: '.grid-item',
        percentPosition: true,
        packery: {
            columnWidth: '.grid-sizer'
        },
        sortBy: 'original-order'
    });
    // filter items on button click
    $('.filter-button-group').on('click', 'button', function() {
        var filterValue = $(this).attr('data-filter');
        $grid.isotope({
            filter: filterValue
        });
    });
    $grid.imagesLoaded().progress(function() {
        $grid.isotope('layout');
    });
</script> {% include contact-form.html %}

</body>

</html>