<!doctype html>
{% assign brand = page.marca %}
<html lang="it">

<head>
    {% include head.html %}
    <script src="/assets/js/vendor/lazysizes.min.js" async></script>
    <script src="/assets/js/vendor/imagesloaded.pkgd.min.js" defer></script>
    <script src="/assets/js/vendor/isotope.pkgd.js" defer></script>
    <script src="/assets/js/vendor/packery-mode.pkgd.min.js" defer></script>
    <script src="/assets/js/isotope-script.js" defer></script>
    <title>Gaggioli Sposi - {{site.data.marche[brand].name}} - Abiti da Sposa, Abiti da Sposo, Proposte per la Cerimonia - Viterbo</title>
</head>

<body>
    {% include gtmbody.html %} {% include footer-scripts.html %}{% include header.html %}
    
    <header class="container-fluid p-2 mt-5">
            <div class="row">
                    <div class="col col-md-2"><h1><img class="img-fluid" src="{{site.data.marche[brand].logo}}" alt="{{site.data.marche[brand].name}}"></h1></div>
                    <div class="d-sm-none col-md-10 ">
                       <!--  {% assign group = page.aggettivi | group_by : "aggettivi" %}
                        <div class="button-group filter-button-group">
                            <div class="d-flex flex-row align-items-center justify-content-center align-content-stretch flex-wrap" itemscope itemtype="http://schema.org/Brand">
                                <button class="btn btn-link btn-brand col-xs-3" data-filter="*"><img src="/assets/img/tutti.jpg" width="100" class="img-fluid" alt="tutti"></button> 
                                {% for item in group %} 
                                    {% if item.name != empty %}
                                        <button class="btn btn-link btn-brand col-xs-3" data-filter=".{{item.name}}">{{item.name}}</button> 
                                    {%endif%} 
                                {% endfor %}
                            </div>-->
                        </div>




                    </div>
                </div> 
    </header>
<main class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                    <div class="grid">
                        <div class="grid-sizer"></div>
                        {% assign collection = site[page.type] | where : "brand",brand %}
                        {%- for item in collection -%}
                        <div class="grid-item {{item.brand}} card shadow">
                            <a href="{{item.url}}"><img data-src="https://res.cloudinary.com/dtd4duitw/image/upload/f_auto,fl_lossy,q_auto,fl_progressive,w_400{{item.image}}" class="lazyload card-img-top" alt="{{item.title}}"></a>
                        </div>
                           {%- endfor -%}
                    </div>
                </div>
            </div>
        </div>

    </main>
  
    {% include footer.html %} {% include contact-form.html %}

</body>

</html>