<!doctype html>{% assign lang = page.collection %}
<html lang="{{lang}}">

<head>
    {% include head.html %}
</head>

<body>
    {% include gtmbody.html %} {% include header.html %}
    <main role="main" class="container">
        <div class="row p-5">
            <div class="col-lg-3">
                <h3>{{page.title}}</h3>
            </div>{% assign brand = page.brand %} {{brand}}
            <div>{% assign obj = site.data.sposo.marche[page.brand] %} {{ obj.logo }}
            </div>

            <div class="col-lg-9"> {{ content }}

                <p> {% for tag in page.tags %} {tag} {% endfor %}</p>
            </div>
        </div>
        </div>


    </main>
    <section>
        {% include contact-form.html %}
    </section>
    {% include footer.html %} {% include footer-scripts.html %}
</body>

</html>