<!doctype html>
<html lang="it">

<head>
    {% include head.html %} 
    <title>{{page.title}} | Gaggioli Sposi | Abiti da Sposa, Abiti da Sposo, Proposte per la Cerimonia - Viterbo</title>
</head>

<body>
    {% include gtmbody.html %} {% include header.html %}
    <main role="main" class="container">
        <div class="row p-5">
            <div class="col-lg-3">
                <h1 class="m-1">{{page.title}}</h1>
            </div>{% assign brand = page.brand %} {{brand}}
            <div>{% assign obj = site.data.sposo.marche[page.brand] %} {{ obj.logo }}
            </div>

            <div class="col-lg-9"> {{ content }}

                <p> {% for tag in page.tags %} {tag} {% endfor %}</p>
            </div>
        </div>
        </div>


    </main>
    <section>
        {% include contact-form.html %}
    </section>
    {% include footer.html %}
</body>

</html>