<!doctype html>

<head>
    {% include head.html %}
</head>

<body>
    {% include header.html %}
    <main role="main" class="container-fluid p-5">
        <div class="row p-5">
            <div class="col-12 col-lg-2">

                <div>{% assign obj = site.data.marche[page.brand] %} <img src="{{ obj.logo }}" alt=""><br>
                    <small>Codice Abito : {{page.title}}</small>
                    <hr> {% include prenota-prova.html %}
                </div>

            </div>
            <div class="col-12 col-lg-7">

                <img src="/uploads/2018/{{page.brand}}/big/{{page.image}}" alt="{{page.title}}" class="img-fluid shadow rounded mx-auto d-block">

            </div>
            <aside class="col-12 col-lg-3 mt-3"> {% include vestito--abiti-loop.html %}
            </aside>
        </div>
    </main>

    <section>
        {% include contact-form.html %}
    </section>
    {% include footer.html %} {% include footer-scripts.html %}
</body>

</html>