<!doctype html>
<html lang="it">
{% assign obj = site.data.marche[page.brand] %}

<head>
    {% include head.html %}
    <title>Abito da site[page.collection] {{obj.title}} | {{page.title}}</title>
</head>

<body>

    {% include header.html %}

    <main role="main" class="container-fluid p-3 mt-4">
        <div class="row">
            <div class="col-12 col-lg-2 simpleCart_shelfItem text-center">
                <span class="item_name d-none">{{page.title}}</span>
                <div class="p-1"><img src="{{ obj.logo }}" alt="{{obj.title}}">

                    <hr> {% include prenota-prova.html %}
                </div>

            </div>
            <div class="col-12 col-lg-7" itemscope itemtype="http://schema.org/Product">

                <img itemprop="image" src="https://res.cloudinary.com/dtd4duitw/image/upload/c_scale,q_auto:good,w_1200,fl_progressive/{{page.image}}" alt="Abito da {{page.collection}} {{obj.title}}" class="img-fluid shadow rounded mx-auto d-block"><br>
                <h1 itemprop="name" class="text-center" style="font-size:1rem">{{obj.title}} - Abito da {{page.collection}} <span>{{page.title}}</span></h1>
            </div>
            <aside class="col-12 col-lg-3 mt-4 text-center">
                <h4> Le Proposte di <strong>{{obj.title}}</strong></h4>
                {%assign brand = page.brand %}
                <section class="d-flex flex-row flex-wrap">
                    {% assign related = site[page.collection] | where : "brand",brand %} {% for item in related %} {% if item.image%}

                    <div class="col-6 col-sm-4 col-lg-6">
                        <div class="card shadow">
                            <a href="{{item.url}}" title="{{item.brand}}">
                                <img  data-src="https://res.cloudinary.com/dtd4duitw/image/upload/c_scale,q_auto:good,w_300,fl_progressive/{{item.image}}" data-sizes="auto" data-srcset="https://res.cloudinary.com/dtd4duitw/image/upload/c_scale,q_auto:good,w_300,fl_progressive/{{item.image}} 300w, https://res.cloudinary.com/dtd4duitw/image/upload/c_scale,q_auto:good,w_600,fl_progressive/{{item.image}} 600w, https://res.cloudinary.com/dtd4duitw/image/upload/c_scale,q_auto:good,w_900,fl_progressive/{{item.image}} 900w"alt="Abito {{item.brand}} {{item.title}}" class="card-img-top object-fit_cover lazyload"></a>
                        </div>
                    </div>
                    {% endif %} {% endfor %}
                </section>
            </aside>
        </div>
    </main>

    <section>
        {% include contact-form.html %} {%- include prenota-prova-modal.html -%}
    </section>
    {% include footer.html %} {% include footer-scripts.html %}
    <script src="/assets/js/vendor/lazysizes.min.js" async></script>
</body>

</html>